<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Prokop</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    </head>
    <body>  
        <header>
              <div id="header" class="container">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Prokop</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#">Discover projects</a></li>-->
                        <li><a href="{{ url_for('main.start') }}">Start a project</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if g.user.is_authenticated() %}
                            <li><a href="{{ url_for('main.user', url=g.user.url) }}">{{ g.user.name }}</a></li>
                            <li><a href="{{ url_for('main.edit_user', url=g.user.url) }}">Edit profile</a></li>                        
                            <li><a href="{{ url_for('main.logout') }}">Log out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('main.register') }}">Sign up</a></li>
                            <li><a href="{{ url_for('main.register') }}">Log in</a></li>
                        {% endif %}

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
        </header>
    <div id="main_content">


  {% block content %}{% endblock %}

  </body>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://rawgithub.com/phstc/jquery-dateFormat/master/dist/jquery-dateFormat.min.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='js/models/book.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/collections/library.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/views/book.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/views/library.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='lib/jquery.filedrop.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/upload.js') }}"></script>

</html>