<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Prokop</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

    </head>
    <body>
    <div>Navigation: <a href={{ url_for('main.index') }}>Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('main.user', name=g.user.name) }}">Your Profile</a>
        | <a href="{{ url_for('main.edit', name=g.user.name) }}">Edit Profile</a>
        | <a href="{{ url_for('main.logout') }}">Logout</a>
        {% else %}
        | <a href="{{ url_for('main.login') }}">Login</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="https://rawgithub.com/phstc/jquery-dateFormat/master/dist/jquery-dateFormat.min.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='js/models/book.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/collections/library.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/views/book.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/views/library.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='lib/jquery.filedrop.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='lib/upload.js') }}"></script>

</html>