<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Prokop</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

    </head>
    <body>

        <script id="bookTemplate" type="text/template">
            <img src="<%= coverImage %>"/>
            <ul>
                    <li><%= name %></li>
                    <li><%= info %></li>
                    <li><%= $.format.date( new Date( releaseDate ), 'd M yyyy' ) %></li>
            </ul>

            <button class="delete">Delete</button>
        </script>

        <div id="books">        
            <form id="addBook" class="form-inline" role="form" action="#" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only" for="coverImage">CoverImage: </label>
                    <div id="dropbox">
                        <span class="message">Drop images here to upload.</span>
                    </div>
                <div class="form-group">
                    <!-- <label class="sr-only" for="name">Email address</label> -->
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <!-- <label class="sr-only" for="info">Password</label> -->
                    <input type="text" class="form-control" id="info" placeholder="Info">
                </div>

                <input for="fileField" id="fileField" name="fileField" type="hidden" value="">

                <button id="add" type="submit" class="btn btn-default">Add</button>
            </form>

        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="https://rawgithub.com/phstc/jquery-dateFormat/master/jquery.dateFormat-1.0.js"></script>
        
        <script type=text/javascript src="{{url_for('static', filename='js/models/book.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/collections/library.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/views/book.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/views/library.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/app.js') }}"></script>

        <script type=text/javascript src="{{url_for('static', filename='lib/jquery.filedrop.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='lib/upload.js') }}"></script>

    </body>
</html>