{% extends "base.html" %}

{% block content %}

            <div class="container" id="new_project_container">
				
                <div id="page_title">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center page-header">New project</h1>
                        </div>
                    </div>
                </div> 
                <div id="project_content">
                    <div class="row">
                         <form class='form-horizontal' method="POST" action="{{ url_for('main.start') }}">
                            {% from "_formhelpers.html" import render_field %}
                            {{ form.csrf_token }}
                            <dl>
                            {{ render_field(form.name, with_label=True) }}
                            {{ render_field(form.description, with_label=True, rows=10) }}
                            {{ render_field(form.need, with_label=True, rows=10) }}
                            {{ render_field(form.rewards, with_label=True, rows=10) }}
                            {{ render_field(form.video_url, with_label=True) }}
                            {{ render_field(form.image_url, with_label=True) }}
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Project leader needed?</label>                            
                                <div class="col-sm-6">
                                {% for subfield in form.need_leader %}
                                    <div class="radio">
                                        {{ subfield }}
                                        {{ subfield.label }}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-sm-offset-4">
                                <button type="submit" name='submit' class="btn btn-primary" value="start">Start Project</button>
                            </div>
                            
                        </form>           
                    </div>
                </div>                                             
            </div>

{% endblock %}