{% extends "base.html" %}

{% block content %}

            <div class="container" id="new_project_container">
				
                <div id="page_title">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center page-header">New project</h1>
                        </div>
                    </div>
                </div> 
                <div id="project_content">
                    <div class="row">
                         <form class='form-horizontal' method="POST" action="{{ url_for('main.start') }}">
                            {% from "_formhelpers.html" import render_field %}
                            {{ form.csrf_token }}
                            <dl>
                            {{ render_field(form.name, with_label=True) }}
                            {{ render_field(form.description, with_label=True) }}
                            {{ render_field(form.need, with_label=True) }}
                            {{ render_field(form.rewards, with_label=True) }}
                            </dl>
                            <div class="col-sm-6 col-sm-offset-4">
                                <button type="submit" name='submit' class="btn btn-primary" value="start">Start Project</button>
                            </div>
                        </form>           
                    </div>
                </div>                                             
            </div>

{% endblock %}