{% extends "base.html" %}

{% block content %}
        <div class="container">
            <div id="page_title">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header text-center">{{ user.name }}- Profile management</h1>
                    </div>
                </div>
            </div>
            <div id="manage_user_info">
                    <div class="row">
                        <form class='form-horizontal' method="POST" action="">
                            {% from "_formhelpers.html" import render_field %}
                            <dl>
                            {{ form.csrf_token }}
                            {{ render_field(form.name, with_label=True) }}
                            {{ render_field(form.email, with_label=True) }}
                            {{ render_field(form.location, with_label=True) }}
                            {{ render_field(form.description, with_label=True, rows="10") }}
                            </dl>
                            <div class="col-sm-6 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>                        
        </div>
{% endblock %}